*{
    margin:0;
    padding:0;
}
.EditProfile
{
    display: flex;
    width:100vw;
    /*justify-content: center; */
    align-items: center;
}
.EditProfile header{
 height:10vh;
 border-style: solid;
 border-width:2px;
 border-color:rgb(170, 167, 167);
}
.EditProfile .editProfile-main{
    /*border-color:rgb(170, 167, 167);
    border-width:2px; */
    margin-left:15vw;
    width:70vw;
    height:110vh;
}
.EditProfile h1{
    margin-left:10vw;
    margin-top:10vh;
    margin-bottom: 10vh;
}
.EditProfile img{
    width:35%;
    height:30%;
    float:right;
    margin-right: 10vw;
}

.EditProfile label{
    display:block;  
    font-size:large;
    font-weight:bold;
}

.EditProfile form {
    display:flex;
    flex-direction:column;
    /* clear:right; */
    align-items: center;

}
.EditProfile input{
    height:3.0vh;
    width:27vw;
    margin-bottom:3vh;
    margin-left:1vw;
    padding:2px;
    border-radius:2px;
    border-width:0.5px;
    font-size: large;
    /* background-color: #fff; */
}

.EditProfile #street_address, #city, #region{
    margin:0px;
}

.EditProfile .Address{
    margin-left:20vw; 
    margin-top:2vh;
    width:50vw;
    text-align: center;
    border-radius:1.7vh;
    border-style:solid;
    border-width:1px;
    border-color:rgb(170, 167, 167);  
}  

.EditProfile .Address span{
    display:inline-block;
    height:4vh;
    margin-bottom:1.4vh;
    font-size: larger;
    font-weight:bold;
}
.EditProfile button{
    width:12vw;
    height:5vh;
    margin-left:25vw;
    margin-top:5vh;
    background-color:  #0F4C75;
    border-radius:1vh;
    font-size: 1rem;
    color:white;
}
.EditProfile button:hover{
    width:17vw;
    height:5vh;
    margin-left:25vw;
    margin-top:5vh;
    background-color:  #0F4C75;
    border-radius:1vh;
    color:white;
    font-size: 1rem;
    transition: width 0.5s ease-in-out;
}
@media (max-width: 850px){
    
    .EditProfile h2{
        margin-left:0px;
        text-align:center;
     }  
    .EditProfile img {
        display:none;
    }
    .EditProfile input{
        width:55vw;
    }
    .EditProfile .Address{
        margin-left:0vw; 
        width:65vw;
    }
    .EditProfile button{
        margin-left:0vw;
    }
}