*{
    margin:0px;
    padding:0px;
}
footer{
    width:100vw;
    height:18vh;
    display:flex;
    flex-direction:row;
    color:#ffffff;
    background-color: #112D4E;
    position:relative;
    left:0px;
    bottom:0vh;
    }
 footer ul{
     display:flex;
     flex-direction:column;
     width:30vw;  
     list-style: none;;     
 }
 footer li{
     padding: 3px 30px;
     font-size:0.5em;
     padding-bottom:4px; 
     font-weight: medium;
     font-size:small;
  
 }
 .first, .second, .third{
     color:#d42196;
     font-weight:700;
    font-size:medium;
 }