.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #DBE2EF;
  min-height: 100vh;
}

.sub-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 40%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 60px;
  background-color: #3F72AF;
  margin-bottom: auto;
  margin-top:auto; 
}

.imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.container-image {
  background-color: #F9F7F7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
}

.profile {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

input {
  width: 300px;
  height: 50px;
  border-radius: 60px;
  box-shadow: inset 0px 0px 25px 0px #888;
  border: none;
  outline: none;
  background-color: #F9F7F7;
  margin-bottom: 20px;
  padding: 20px;
}

.user-name {
  height: 25px;
  width: 25px;
  position: absolute;
  padding: 14px 0 0 55px;
}

.name {
  padding-left: 70px;
  font-size: 20px;
  color: white; 
}

.second-input {
  padding-top:30px;
}

button {
  width: 380px;
  height: 60px;
  border-radius: 60px;
  font-weight: sans-serif;
  background-color: #112D4E;
  color: white;
  font-size: 25px;
  border: none;
  margin-top: 40px;
}

.l{
  color: white;
}

.link {
  font-size: 25px;
  font-weight: 400;
  color: white; 
}

a {
  color: white; 
}


@media (max-width: 1200px) {
  .sub-main {
    width: 50%;
  }
}

@media (max-width: 992px) {
  .sub-main {
    width: 60%;
  }
  
  input, button {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .sub-main {
    width: 70%;
  }
}

@media (max-width: 576px) {
  .sub-main {
    width: 80%;
  }

  input, button {
    font-size: 18px;
  }

  .name {
    font-size: 16px;
  }
}
