.modal-container
{
    /* display */
    display: flex;
    justify-content: flex-end;
    /* flex-direction: column; */

    /* position */
    position: fixed;
    top:0;
    left: 0;

    /* background */
    background-color: rgba(0, 0, 0, 0.5);

    /* size */
    width: 100%;
    height: 100%;

    /* overflow */
    overflow: hidden;

    /* opacity */
    opacity: 0;
    pointer-events: none;

    /* transition */
    transition: opacity ease-in-out 0.5s;
}

.modal-container.show
{
    opacity: 1;
    pointer-events: auto;
}