.product-details {
    /* flex */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 20px;

    /* spacing */
    margin: 20px;
}

.product-details > *
{
    /* flex-item */
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 400px;
}

.product-details .photo {
    /* flex */
    display: flex;
    justify-content: flex-end;
    
    /* flex-self */
    flex-basis: 600px;
    
    /* dimension */
    height: 600px;
}

.product-details .photo > img
{
    /* size */
    width: 100%;
    /* border */
    border-radius: 15px;
    border-width: 0.5px;
    border-style: solid;
    border-color: #BBBFCA;
    /* fitting */
    object-fit: fill;
}

.product-details .details
{
    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
}

.product-details .details > *
{
    /* border */
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: #BBBFCA;

    /* space */
    padding: 20px;
}

.product-details .tag
{
    /* display */
    display: inline-block;
    /* color */
    background-color: #BBBFCA;
    color: #495464;
    /* space */
    padding: 5px;
    /* border */
    border-radius: 5px;

}

.product-details .addToCart{
    /* flex */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    /* Font */
    font-size: 1.5rem;
    /* color */
    background-color: white;
}

.product-details .addToCart > button
{
    /* space */
    padding: 10px;

    /* font */
    font-size: 1rem;

    /* color */
    background-color: #0F4C75;
    color: white;

    /* border */
    border: none;
    border-radius: 10px;
}

.product-details .addToCart > button:hover
{
    /* color */
    background-color: #BBE1FA;
    color: black;
}

@media (max-width: 700px) {
    .product-details .photo
    {
        /* flex-self */
        flex-basis: 300px;
        /* size */
        height: 300px;
    }

    .product-details .details
    {
        /* flex-self */
        flex-basis: 300px;
    }
}