.product-details {
    /* flex */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;

    /* spacing */
    margin: 20px;
    /* margin-left: 25rem; */

    /* color */
    color: #495464;

    /* font */
    font-family: 'Lato', sans-serif;
}

.product-details .photo {
    /* flex */
    display: flex;
    justify-content: center;

    /* flex-self */
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 0;

    /* space */
    padding: 8rem 0;

    /* color */
    background-color: #F4F4F2;

    /* border */
    border-style: solid;
    border-color: #BBBFCA;
    border-width: 0.5px;
}



.product-details .photo-bg {
    /* flex */
    display: flex;
    justify-content: center;
    /* color */
    background-color: white;

    /* space */
    padding: 2rem 2rem 4rem 2rem;

    /* border */
    box-shadow: 0 0.4rem 0.2rem 0.2rem #BBBFCA;
}

.product-details .photo-bg>img {
    /* size  */
    width: 450px;
    aspect-ratio: 1/1.2;
    /* border */
    border-width: 0.5px;
    border-style: solid;
    border-color: #495464;
    /* fitting */
    object-fit: fill;
}

.product-details .details {
    /* flex-self */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.product-details .head {
    /* space */
    margin-top: 10rem;
}

.product-details h1 {
    font-family: 'Vollkorn SC', serif;
}

.product-details .tag {
    /* display */
    display: inline-block;
    /* color */
    background-color: #BBBFCA;
    /* space */
    padding: 5px;
    margin-top: 1rem;
    /* border */
    border-radius: 5px;

}

.product-details .btns {
    /* flex */
    display: flex;
    gap: 2rem;

    /* space */
    margin-top: 1rem;
}

.product-details .btns>* {
    /* flex-self */
    flex-grow: 1;
    flex-basis: 0;
    /* font */
    font-size: 1.5rem;

    /* space */
    padding: 0.75rem;

    /* border */
    border: none;
    border-radius: 10px;

    /* color */
    background-color: #0F4C75;
    color: white;
}

.product-details .btns>*:hover {
    /* color */
    background-color: #BBE1FA;
    color: black;
}

.product-details hr {
    /* space */
    margin: 1rem 0;

    /* color */
    color: #E8E8E8;
}

.product-details .qty {
    /* font */
    font-size: 1.5rem;
}

.product-details p {
    /* color */
    color: #7a7b7d;
}

@media (max-width: 1000px) {
    .product-details {
        /* flex */
        flex-direction: column;
        align-items: center;

    }

    .product-details .head {
        margin: 0;
    }

    .product-details .photo {
        /* space */
        padding: 0;
        width: 70%;
    }

    .product-details .photo-bg {
        padding: 0;
        width: 100%;
    }

    .product-details .photo-bg>img {
        /* size */
        width: 100%;
        aspect-ratio: 1/1;
    }
}

@media (max-width: 500px) {
    .product-details .photo {
        width: auto;
    }

    .product-details .photo-bg>img {
        /* size */
        width: 20rem;
    }
}