*{
    margin:0;
    padding:0;
    
}
.Registration{
    margin:40px 0px;
    border-style:solid;
    border-color:rgb(117, 113, 113);
    border-width:1px;
    box-shadow:4px 4px 4px rgb(129, 128, 128);
    margin-left:25vw;
    width:50vw;
    height:120vh;
}
.Registration h2{
    text-align:center;
    margin-bottom: 3vh;
    
}
.Registration label{
    display:block;
    text-align:center;
    font-size:75%;
    font-weight: 500px;
    margin-bottom:2vh;
}

.Registration form {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;

}
.Registration input{
    height:3.0vh;
    width:30vw;
    margin-bottom:2vh;
    padding:2px;
    border-radius:3px;
    border-width:1px;

}
.Registration .submit{
    margin-top:2vh;
    width:16vw;
    height:5vh;
    background-color : #0F4C75; 
    color:white;
    border-radius: 7px;
}

@media (max-width:700px){
   .Registration{
    margin-left:10vw;
    margin-right:10vw;
    width:80vw;
   }
    
   .Registration input{
    width:65vw;
}
.Registration .submit{
    width:40vw;
}
}
@media (min-width:700px) and (max-width:1100px){
    .Registration{
     margin-left:15vw;
     margin-right:15vw;
     width:70vw;
    }
     
    .Registration input{
     width:45vw;
 }
    .Registration .submit{
     width:33vw;
 }
    
}