.side-bar-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.side-bar-container>* {
    flex-grow: 6;
    flex-shrink: 6;
    flex-basis: 0;
}

.side-bar {
    /* position */
    position: sticky;
    top: 0;

    /* display */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    /* content */
    overflow: hidden;

    /* space */
    margin-right: 1rem;

    /* size */
    min-height: 100vh;
    min-width: 0;

    /* flex-self */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 10rem;

    /* color */
    background-color: #112D4E;

    /* border */
    border-style: solid;
    border-color: #BBBFCA;
    border-width: 0 0.5px 0 0;

    /* transition */
    transition: flex-basis 1s ease, margin 1s ease;
}

.side-bar.invisible {
    flex-basis: 0;
    margin: 0;
}

.side-bar .content {
    /* space */
    padding-top: 5rem;

    /* flex */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.side-bar button {
    /* font */
    font-size: 2em;

    /* color */
    color: white;
    /* background-color: #F4F4F2; */
    background-color: inherit;

    /* border */
    border: none;

    /* size */
    width: 100%;
}

.side-bar button:hover {
    /* color */
    color: orange;
}

@media (max-width: 530px) {
    .side-bar-container {
        /* flex */
        flex-direction: column;
        align-items: stretch;
        gap: 1rem;
    }

    .side-bar {
        /* position */
        position: static;

        /* size */
        min-height: 0;

        /* space */
        margin: 0;

        /* transition */
        transition: flex-basis 1s ease;
    }

    .side-bar .content {
        /* space */
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}